doctype html
html
  head
    style
      include index.css
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    title To-Do-List App - Completed Tasks
  body
    .navbar
      a(href='/') Home
      a(href='/completedtasks') Completed Tasks
    input#task(,='')
    button#add Add
    #todos
    hr
    table.table(style='width:80%')
      tr
        th index #
        th Assignment
        th Notes
      tr
        td
        td
        td
      tr
        td
        td
        td
  .footer
