doctype html
html
  head
    style
      include index.css
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    title To-Do-List App
    //- /*script(src="/amplitudejs/js/amplitude.js")*/
    script(src="/index.js")
    script(type='text/javascript').
  //- Amplitude.init({
  //- "dynamic_mode": true
  //- })

  body
    .navbar
      a(href='/') Home
      a(href='/completedtasks') Completed




    #todos
    hr
    table.table(style='width:80%')
      tr
        th index #
        th Assignment
        th Notes
      tr
      if tasks
      -for (task of tasks){
      tr
        td #{task.id}
        td #{task.assignment}
        td #{task.notes}
      tr
      -}
      
    .button
      form(action='/addTask', method='post')
        input(name='task', placeholder='task' )
        input(name='notes',placeholder='notes' )
            
        input(type='submit', value='Submit')
  .footer
    //- table.table(style='width:30%', id=body)
    //-   tr
    //-     td
    //-     #player
    //-     #player-top
    //-     #amplitude-play-pause.amplitude-paused
    //-     button(type='button', name='button', onclick='play()')
    //-     #songPlay(onclick='play(1)')
    //-   tr
    //-     input.amplitude-song-slider(type='range', amplitude-singular-song-slider='true', value='0')
    //- 
    //- 
    //-     audio#1(amplitude-artist='Ms Incredible ft. Fly Benzo', amplitude-title='Every Single Day', amplitude-album='Alchemical Process', amplitude-album-art-url='/Users/debraycarpenter/Documents/newMusicApp/images/everysingleday.jpg', amplitude-audio-type='“song”')
    //-       source(src='/songs/everysingleday.mp3', type='audio/mp3')
